@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html,
body {
  min-width: 290px;
  color: #2f2f31;
  background-color: #2e57adcb;
  font-family: 'Monterrat', Arial, sans-serif;
  line-height: 1.5;}


#navbar{
    background: rgb(16, 5, 119);
    position: fixed;
    min-width:290x;
    width:300px;
    height:100%;
    top: 0px;
    left: 0px;
border-right: solid;
border-color: rgb(11, 1, 37);
}
header{
margin:10px;
    color:rgb(10, 4, 48);
    text-align: center;
    font-size: 24px;
    font-weight: thin;
  
}
#main-doc header {
    text-align: left;
    margin: 0px;
  }
  #navbar ul{
      height:88%;
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
  }
  #navbar li{
      color:#202124;
      border-top:1px solid;
      list-style: none;
      position: relative;
      width: 100%;

  }
  #navbar a {
      display: block;
      padding: 10px 30px;
      color: #5d5d5f;
      text-decoration: none;
      cursor: pointer;
  }
  #main-doc{
position: absolute;
margin-left: 300px;
padding: 20px;
margin-bottom: 110px;
  }
  section article{
      color: #363636;
      margin: 15px;
      font-size: 15px;
  }
  section li{
      margin: 15px 0px 0px 20px;
  }

#box_img{
    width: 80%;
    margin-left: 2pc;
}
.selector-image{
    width: 90%;
    margin-left: 20px;
}
#link_reference{
    text-decoration: none;
}
@media only screen and (max-width: 815px) {
    
    #navbar ul {
      border: 1px solid;
      height: 200px;
    }
  
    #navbar {
      background-color: rgb(126, 130, 182);
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 1px solid;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px; 
    }
    #box-img{
        width: 90%;
        margin-left: 2pc;
    }
  }
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
}